<div class="layout-topbar">
  <a class="layout-topbar-logo" [routerLink]="['/prospect']">
      <span>Epsyl Prospects Service</span>
  </a>
  <!-- TODO Pour ajouter un bouton pour afficher/cacher un sidebar  -->
  <!-- <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
      <i class="pi pi-bars"></i>
  </button> -->

  <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button">
      <i class="pi pi-users"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
      <button class="p-link layout-topbar-button"
              [routerLink]="['/prospect']"
              routerLinkActive="router-link-active"
              pTooltip="Liste des prospects"
              tooltipPosition="bottom">
          <i class="pi pi-users" style="font-size: 2rem; color: 'var(--primary-color)';"></i>
      </button>
      <button class="p-link layout-topbar-button"
              [routerLink]="['/user']"
              routerLinkActive="router-link-active"
              pTooltip="Liste des utilisateurs"
              tooltipPosition="bottom">
          <i class="pi pi-user" style="font-size: 2rem; color: 'var(--primary-color)';"></i>
      </button>
      <!-- <button class="p-link layout-topbar-button" [routerLink]="'/documentation'"> -->
      <button class="p-link layout-topbar-button"
              [routerLink]="['/settings']"
              routerLinkActive="router-link-active"
              pTooltip="Paramètres"
              tooltipPosition="bottom">
          <i class="pi pi-cog" style="font-size: 2rem; color: 'var(--primary-color)';"></i>
      </button>
  </div>
</div>

