<div class="layout-topbar">
  <!-- <a class="layout-topbar-logo" [routerLink]="['/prospect']"> -->
      <span>Epsyl Prospects Service</span>
  <!-- </a> -->
  <!-- TODO Pour ajouter un bouton pour afficher/cacher un sidebar  -->
  <!-- <p-button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
      <i class="pi pi-bars"></i>
  </p-button> -->

  <p-button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button">
      <i class="pi pi-users"></i>
  </p-button>

  <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
      <p-button outlined="true"
              [routerLink]="['/prospect']"
              routerLinkActive="router-link-active"
              pTooltip="Liste des prospects"
              tooltipPosition="bottom"
              label="Liste des prospects"
              *ifAdmin />
      <p-button outlined="true"
              [routerLink]="['/user']"
              routerLinkActive="router-link-active"
              pTooltip="Liste des utilisateurs"
              tooltipPosition="bottom"
              label="Liste des utilisateurs"
              *ifAdmin />
      <!-- <p-button class="p-link layout-topbar-button" [routerLink]="'/documentation'"> -->
      <p-button icon="pi pi-chart-line"
              [routerLink]="['/dashboard']"
              routerLinkActive="router-link-active"
              pTooltip="Tableau de bord"
              tooltipPosition="bottom"
              [rounded]="true"
              [text]="true"
              severity="secondary "
              *ifAdmin />
  </div>
</div>

